/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
  --w-standard: 80rem;
  --w-example-wrapped: 600px;

  --block-margin-vertical: 3.75rem;
  --block-padding-vertical: 1.875rem;

  --c-aero-blue: #abffd9;
  --c-alto: #dfdfdf;
  --c-athens-gray: #f8f8f9;
  --c-black: #000;
  --c-black-o2: rgba(0, 0, 0, 0.2);
  --c-black-o4: rgba(0, 0, 0, 0.4);
  --c-black-o8: rgba(0, 0, 0, 0.8);
  --c-deep-cove: #061a40;
  --c-deep-cove-o2: rgba(6, 26, 64, 0.2);
  --c-deep-cove-o3: rgba(6, 26, 64, 0.3);
  --c-deep-cove-o6: rgba(6, 26, 64, 0.6);
  --c-deep-cove-o8: rgba(6, 26, 64, 0.8);
  --c-dove-gray: #636363;
  --c-egg-sour: #fff3dd;
  --c-gallery: #eeeeee;
  --c-jacarta: #2f285b;
  --c-matisse: #1c5298;
  --c-matisse-darker: #03397f;
  --c-matisse-o1: rgba(28, 82, 152, 0.1);
  --c-matisse-o2: rgba(28, 82, 152, 0.2);
  --c-mercury: #e9e9e9;
  --c-mine-shaft: #272727;
  --c-ocean-green: #46bc86;
  --c-picton-blue: #1fc8e7;
  --c-seashell: #f1f1f1;
  --c-silver: #c4c4c4;
  --c-silver-chalice: #a5a5a5;
  --c-slate-gray: #6b788e;
  --c-stratos: #00133e;
  --c-texas-rose: #fdbd50;
  --c-texas-rose-darker: #e4a437;
  --c-torch-red: #ff0033;
  --c-white: #fff;
  --c-white-darker: #e6e6e6;
  --c-white-o3: rgba(255, 255, 255, 0.3);
  --c-white-o6: rgba(255, 255, 255, 0.6);

  --f-default-size: 1rem;
  --f-regular: "Inter", sans-serif;
}

html {
  font-family: var(--f-regular);
  color: var(--c-mine-shaft);
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: var(--c-picton-blue);
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
  margin: 0 auto;
  max-width: var(--w-example-wrapped);
  padding: 1rem;
}

.card {
  border: 1px solid var(--c-mercury);
  padding: 1rem;
  margin-bottom: 1rem;
  transition: filter, opacity linear .5s;
}

.card.collapsed {
  opacity: .25;
  filter: grayscale(50%);
  pointer-events: none;
}

.card :first-of-type {
  margin-top: 0;
}

form {
  max-width: 100%;
}

.form__field {
  padding: 1rem 0;
}

h1 {
  color: var(--c-matisse);
  font-family: var(--f-regular);
  font-size: 3.125rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1em;
}

header h1 {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 50% 50%;
}

header span {
  font-size: 1.95rem;
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  header span {
    font-size: 2.6rem;
  }
}



header .logo {
  margin-right: 1rem;
}

h3 {
  color: var(--c-deep-cove);
  letter-spacing: -0.02em;
  font-family: var(--f-regular);
  margin-bottom: 0;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.3em;
}

h4 {
  color: var(--c-deep-cove);
  font-size: 1.2em;
  letter-spacing: -0.04em;
  margin-bottom: 0;
}

header + p {
  font-size: .9rem;
}

a {
  color: var(--c-matisse);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:focus, a:hover {
  color: var(--c-deep-cove);
}

legend {
  font-family: var(--f-regular);
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 1.3em;
}

label,
legend {
  display: block;
  color: var(--c-matisse);
  font-family: var(--f-regular);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}

fieldset label {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
}

input[type="text"],
input[type="email"] {
  border-color: var(--c-black-o4);
  border-style: solid;
  border-width: 0 0 1px;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--c-white);
  border-radius: 4px;
  color: var(--c-black);
  font-family: var(--f-regular);
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  outline: 0;
  display: block;
  max-width: 100%;
  width: 100%;
}

.assurance,
.mode {
  padding-left: 50px;
  min-height: 50px;
  line-height: 50px;
  background-size: 44px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 50%;
}

.mode--enrol {
  background-image: url(../img/onboarding-woman-yellow.png);
}

.mode--verify {
  background-image: url(../img/gpa-authenticated-woman-blue.png);
}

.assurance--genuine_presence {
  background-image: url(../img/gpa-side-woman.png);
}

.assurance--liveness {
  background-image: url(../img/liveness-side--woman.png);
}

.ipbutton,
button {
  background-color: var(--c-matisse);
  color: var(--c-white);
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25em;
  padding: 1rem 1.3rem;
  text-transform: uppercase;
  align-items: center;
  border-style: solid;
  border-color: var(--c-matisse);
  border-width: 2px;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--f-regular);
  font-style: normal;
  justify-content: center;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.ipbutton--lozenge {
  border-radius: 5rem;
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.3em;
  padding: 0.4rem 0.7rem;
  text-transform: none;
}

.ipbutton--texas-rose {
  background-color: var(--c-texas-rose);
  border-color: var(--c-texas-rose);
  color: var(--c-deep-cove);
}

.ipbutton--texas-rose:focus,
.ipbutton--texas-rose:hover {
  background-color: var(--c-texas-rose-darker);
  border-color: var(--c-texas-rose-darker);
}

button.action-restart {
  padding-right: 40px;
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  /*   background-size: 40px; */
  background-position: 90% 50%;
}

button.action-check-permission {
  margin-left: 1em;
}

button:hover,
button:focus {
  background-color: var(--c-matisse-darker);
  border-color: var(--c-matisse-darker);
  color: var(--c-white);
}

pre {
  background: var(--c-silver);
  color: var(--c-mine-shaft);
  font-size: 0.8em;
  padding: 1rem;
  border-radius: 4px;
}

footer {
  color: var(--c-dove-gray);
  font-size: 0.875rem;
}

footer a {
  color: var(--c-dove-gray);
  font-weight: 600;
  text-decoration: none;
}

/* iProov Web SDK overrides */
.progress {
  margin: 2rem 0;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  max-width: 100%;
  height: 3rem;
  background: var(--c-slate-gray);
}

.progress__inner {
  position: absolute;
  transition: width cubic-bezier(0.75, 0.02, 1, 0.27) 0.3s;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--c-matisse);
}

.progress__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 3rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.state {
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin-bottom: 1rem;
  padding-right: calc(80px + 1rem);
}


.state--passed {
  background-image: url(../img/gpa-tick.png);
}

.state--cancelled,
.state--error,
.state--failed {
  background-image: url('../img/No-not-worked-woman-yellow.png');
  padding-right: calc(1rem + 80px);
}

[slot=ready] h3 {
  font-size: 1.5rem;
}

.error-container {
  background-color: var(--c-egg-sour);
  color: var(--c-torch-red);
  border-radius: 4px;
  border: 1px solid var(--c-torch-red);
  padding: 1rem;
  margin-top: 1rem;
}

.error-container h4, .error-container p {
  color: inherit;
  margin-bottom: 0;
}

.support-container {
  margin: 1rem 0 0;
  font-size: .8rem;
  background-repeat: no-repeat;
  padding-left: 2rem;
  background-size: 1.5rem;
  line-height: 1.5rem;
}

.support-container--ok {
  background-image: url(../img/thumbs-up.png);
  color: var(--c-ocean-green);
}

.support-container--error {
  background-image: url(../img/thumbs-down.png);
  color: var(--c-torch-red);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
